<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse110.ucsd.team12wwr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SuggestedWalkActivity"></activity>
        <activity
            android:name=".TeamIndividRoutes"
            android:label="@string/title_activity_team_individ_routes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PendingInviteActivity"
            android:label="Your Invitations" />
        <activity
            android:name=".TeamScreen"
            android:label="@string/title_activity_team_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RoutesScreen" />
        <activity android:name=".RouteInfoActivity" />
        <activity android:name=".RouteDetailsPage" />
        <activity android:name=".DebugWalkActivity" />
        <activity
            android:name=".StartPage"
            android:label="@string/title_activity_start_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- CHANGED THIS LINE HOPE IT WON'T MATTER OK android:screenOrientation="portrait" -->
        <activity
            android:name=".IntentionalWalkActivity"
            android:label="@string/title_activity_intentional_walk"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cse110.ucsd.team12wwr.MainActivity" />
        </activity>
    </application>

</manifest>